<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sydney Voice Assistant</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    

        <center>
        <div>
          <div>
					<img src="/img/logo.png"></div>
          <div class="div-chats" id="chat-window">

							<div class="speech-wrapper">
						  <div class="bubble">
						    <div class="txt">
						      <p class="name">Sydney</p>
						      <p class="message">Hey, I am Sydney, Your Personal Assistant !</p>
						      <span class="timestamp">10:20 pm</span>
						    </div>
						    <div class="bubble-arrow"></div>
						  </div>
							</div>
							<div class="speech-wrapper">
						  <div class="bubble">
						    <div class="txt">
						      <p class="name">Sydney</p>
						      <p class="message">How can I help you today?</p>
						      <span class="timestamp">10:20 pm</span>
						    </div>
						    <div class="bubble-arrow"></div>
						  </div>
							</div>

						</br>
						</div>
						<center>
							<h3> Record </h3>
							<button id="startBtn">Start</button>
							<button id="stopBtn">Stop</button>
						</center>
				</br>
					<span id="recordingIndicator"></span>
					<h2>Debug Output</h2>
					<h3>Keywords captured</h3>
					<div id="output"></div>
					<h2>Status</h2>
					<div id="currentStatus">Loading page</div>


      </div>
		</center>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="lib/binary.js"></script>
			<script src="js/main.js"></script>
			<script src="lib/audioRecorder.js"></script>
			<script src="lib/callbackManager.js"></script>
  </body>
</html>
