<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My Node Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>


    <section class="hero">

      <div class="hero-content">

        <center>
        <div class="post-container">

          <div class="post-thumb"><img class="img-responsive" src="/img/assistant.jpg" alt="Sydney" width="130px" height="180px"></div>
          <div class="post-contents">

              <h1><b>Hey, I am Sydney, Your Personal Assistant !</b></h1>
              <h2>How can I help you today? </h2>

          </div>
        </div>
      </center>




          <div class="form-group">
            </br>
              <center><button style="font-size:15px" onclick="startstopRecording()">Let's Talk <i class="fa fa-microphone"></i></button></center>
            </br>
              <textarea class="form-control margin-left-right" rows="15" id="comment"></textarea>

          </div>

<!--
          <a href="/" class="btn btn-lg btn-primary">Get Started</a>
          <a href="/contact" class="btn btn-lg btn-primary">Get Started</a> -->
      </div>
    </section>
  <!--  <button onclick="startRecording()">Start Recording</button><button onclick="stopRecording()">Stop Recording</button>-->
    <script src="recorder.js"></script>
  </body>
</html>
